*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html {
    touch-action: manipulation;
}
.hidden {
    display:none;
}
body {
    
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*Dark theme////////////////////////////////////////////////*/
body.dark {
    background-color:#121212;
}
#box-container {
    display:flex;
    justify-content: center;
    flex-direction: column;
margin-left: 2em;
}
.checkbox {
    opacity: 0;
    position:absolute;
}
.move {
    transform: translateX(20px);
}
/* Move the toggle from left to right */
.checkbox:checked + .label .ball {
    transform: translateX(20px);
}
.label {
    background-color:black;
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    border-radius: 50px;
    position: relative;
    width: 3em;
    height: 2em;
    transform: scale(1.5);
}
 .dark {
    background-color:#6d1ab6;;
}
.fa-sun {
    color: #f1c48f;
}
.fa-moon {
    color: #f39c12;
}
.ball {
    height:20px;
    width: 20px;
    background-color:white;
    border-radius: 50%;
    top: 5px;
    left: 3px;
    transition: transform 0.2s;
    position:absolute;
}
/*/////////////////////////////////////////////////////////*/

#container {
    display:flex;
    justify-content: center;
    align-items: center;
}

#myCanvas {
    width: 960px;
    height: 600px;
    border: 4px solid black;
    font-family: 'Orbitron', sans-serif;
}

#container {
    display:flex;
    justify-content: center;
    align-items: center;
}


.bg {
    background-image: url('background.png');
}
.restart-btn {
    font-family: 'Press Start 2P', cursive;
    margin-bottom: -6rem;
    position: absolute;
    font-size: 1.5rem;
    padding: 0.5em;
   outline:none;
border-radius: 10%;
    color:#00b4d8;
    border-style:none;
    background-image: #EFEEEE;
    border-radius: 20px;
    box-shadow: -6px -6px 26px 0 rgba(255,255,255,1),/*0px 3px 18px 3px rgba(83,144,217,1)*/
                 6px 6px 16px 0 rgba(217,210,200,0.8);
}

.restart-btn:hover {
    box-shadow: -6px -6px 26px 0 #DDC5E9;
    box-shadow: 6px 6px 16px 0 #0077b6;
}
@media(max-width:586px) {
    #myCanvas{
        position: absolute;
        width: 400px;
        height: 250px;
    }
    .restart-btn {
        font-size: 80%;
        margin-top: 6em;
    }
    .instruction {
        font-size: 40%;
    }
    .label {
        position: absolute;
     margin-bottom: 20em;
       transform:scale(1.1);
      
    }
    #box-container {
        justify-content: center;
        align-items: center;
    }
}
@media only screen and (min-width:600px) and (max-width:1024px) {
    #myCanvas{
        position: absolute;
    }
    .label {
        position: absolute;
     margin-bottom: 43em;
     transform: scale(1.5);
      
    }
    #box-container {
        justify-content: center;
        align-items: center;
    }
}
@media(max-width: 280px) {
    #myCanvas {
        width: 250px;
        height: 156.25px;
    }
    .restart-btn{
        font-size: 50%;
    }
}
