*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html {
    touch-action: manipulation;
}
.hidden {
    display:none;
}
body {
    
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    display:flex;
    justify-content: center;
    align-items: center;
}

#myCanvas {
    width: 960px;
    height: 600px;
    border: 4px solid black;
}

.restart-btn {
    font-family: 'Press Start 2P', cursive;
    margin-bottom: -6rem;
    position: absolute;
    font-size: 1.5rem;
    padding: 0.5em;
   outline:none;
border-radius: 10%;
    color:#00b4d8;
    border-style:none;
    background-image: #EFEEEE;
    border-radius: 20px;
    box-shadow: -6px -6px 26px 0 rgba(255,255,255,1),/*0px 3px 18px 3px rgba(83,144,217,1)*/
                 6px 6px 16px 0 rgba(217,210,200,0.8);
}

.restart-btn:hover {
    box-shadow: -6px -6px 26px 0 #DDC5E9;
    box-shadow: 6px 6px 16px 0 #0077b6;
}
@media(max-width:586px) {
    #myCanvas{
        width: 400px;
        height: 250px;
    }
}
@media(max-width: 280px) {
    #myCanvas {
        width: 250px;
        height: 156.25px;
    }
    .restart-btn{
        font-size: 50%;
    }
}