

//Navbar
$darkBlue : #35A4D3;

//View website + detail

$darkRed : #F87060;

$lightGrey: #EBEBEB;

$darkYellow : #FFD400;
//Font
$poppins: 'Poppins', sans-serif; //400,800
$lora: 'Lora', serif; //400,600


//Font-size
$font-xs: 0.5625rem;
$font-s: 0.7575rem;
$font-sm: 0.8425rem;
$font-md: 0.975rem;
$font-mdlg: 1.4625rem;
$font-lg: 1.7625rem;
$font-xlg: 1.9025rem;


$font-desktop-md: 1.1625rem;
$font-desktop-mdlg: 1.5625rem;
$font-desktop-lg : 2.5025rem;
$font-desktop-xlg: 2.9025rem;